<form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm.value)">
  <input type="text" name="name" ngModel>
  <button>Add User</button>
</form>

<form #getUserForm="ngForm" (ngSubmit)="getUserById(getUserForm.value)">
  <input type="text" name="id" ngModel>
  <button>Find User</button>
</form>
<br>
<button (click)="getUsers()">List Users</button>
<br><br>
<table>
  <tr *ngFor="let user of users">
      <td><input type="text" value="{{user.name}}" [(ngModel)]="user.name"></td>
      <td>{{ user.id }}</td>
      <td><button (click)="updateUser(user)">Update</button></td>
      <td><button (click)="deleteUser(user)">Delete</button></td>
  </tr>
</table>

